.histogram{
    display:flex;
    flex-direction: column;
    height:185px;
    width:354px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    justify-content: space-between;
    padding: 16px 24px 24px;
}

.histogram__header{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.histogram__totalText{
    grid-area: 1/1;
    color: var(--black);
    opacity: 0.8;
}

.histogram__totalNumber{
    grid-area: 2/1;
    font-size: 20px;
    color: var(--black);
    line-height: 26px;
   
}

.historam__viewAllLink{
    grid-area: 1/3/2/3;
    color:#4263EB;
}


.histogram__bar {
    display: flex;
    align-items: flex-end;
    height: 100px;
}  
    

.histogram__bar-column {
    flex-grow: 1;
    margin-right: 1px;
    background-color: var(--blue);
}

.histogram__bar-column:hover {
    background-color: var(--red);
}